# Segmenting and Clustering Neighborhoods in Toronto by JS

### Part 1. Transform the data in the given table on the Wikipedia page into a pandas dataframe that is similar to the example

#### Step 1. import the same libraries that were in the lab

In [16]:

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

In [4]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head(20)

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
7,M8A,Not assigned,NaN
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
10,M2B,Not assigned,NaN
11,M3B,North York,Don Mills
12,M4B,East York,Parkview Hill / Woodbine Gardens
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
15,M7B,Not assigned,NaN
16,M8B,Not assigned,NaN
17,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...
18,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
19,M2C,Not assigned,NaN

In [5]:
df.shape

(180, 3)

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:
##I'm just going to drop rows with Borough = "Not assigned"
indexNames = df[ df['Borough'] == 'Not assigned' ].index
indexNames

Int64Index([  0,   1,   7,  10,  15,  16,  19,  24,  25,  28,  29,  33,  34,
             35,  37,  38,  42,  43,  44,  51,  52,  53,  60,  61,  62,  69,
             70,  71,  78,  79,  87,  88,  96,  97, 101, 105, 106, 110, 115,
            118, 119, 123, 124, 125, 127, 128, 131, 132, 133, 134, 136, 137,
            140, 141, 145, 146, 149, 150, 154, 155, 158, 159, 161, 162, 163,
            164, 166, 167, 170, 171, 172, 173, 174, 175, 176, 177, 179],
           dtype='int64')

In [7]:
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [8]:
df.shape

(103, 3)

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table

In [9]:
#Since these rows are already combined, this looks like a "replace the ' / ' with a comma problem"

df['Neighborhood'] = [x.replace(' / ', ', ') for x in df['Neighborhood']]

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [10]:
df.loc[df['Neighborhood'].isnull(),'Neighborhood'] = df['Borough']

#### Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making

In [ ]:
#done, the only assumption that I made was that I knew what I was doing

#### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

In [11]:
df.shape

(103, 3)

### Part 2. Get the latitude and the longitude coordinates of each neighborhood

In [20]:
!wget -q -O 'LatLon.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [21]:
LatLon_df = pd.read_csv('LatLon.csv')
LatLon_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
#can't merge the df until the column names match exactly (case sensitive)

LatLon_df.rename(columns={'Postal Code': 'Postal code'}, inplace=True)

In [26]:
LatLon_df.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [27]:
#Merge the two data frames on the common column

dfMerge = df.merge(LatLon_df)

In [28]:
dfMerge.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [31]:
dfMerge.shape

(103, 5)